// compileExpanded: $1.css
$primary: #006400;

.container {
  text-align: center;
}

.tooltip {
  position: absolute;
  padding: 5px;
  color: $primary;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid $primary;
  border-radius: 5px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  & > h3 {
    margin: 5px 0;
  }
}

// ****** svg styles ********

.node {
  stroke: #333;
  stroke-width: 1px;
}

.link {
  stroke-width: 1.5px;
}
